name: CI Build

on:
  push:
    branches: [ main ]

env:
  IMAGE_NAME: anshutruemeds/react-app

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t $IMAGE_NAME:${{ github.run_number }} .

      - name: Login to DockerHub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Push Docker Image
        run: docker push $IMAGE_NAME:${{ github.run_number }}
